<h1><%= @post.title %> </h1>
<br><br>
<h2><%= @post.body %></h2>
<br>
<h3>Posted by</h3>
<br>
<%= @post.user.email %>
<br><br>

<% @post.comments.each do |comment| %>
<br>
  <h4><%= comment.body %></h4>
  <h4>by</h4>
  <h4><%= comment.name %></h4>
<% end %>
<br><br>
<h4>Make a new comment:</h4>
<br><br>
<%= simple_form_for [@post, @comment] do |f| %>
  <%= f.input :name, label: 'your nickname' %>
  <%= f.input :body, label: 'your comment' %>
  <%= f.button :submit %>
<% end %>
<br><br>
<%= link_to 'Edit', edit_post_path(@post) if policy(@post).update?%>
<%= link_to 'Delete', post_path(@post), method: :delete if policy(@post).destroy? %>